/*******************************************************************************
 * Albums
 ******************************************************************************/
.album-tiles {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.album-tile {
  color: inherit;
  text-decoration: none;
  max-width: 32%;
  margin: 1%;
  box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
}

.album-tile figure {
  margin: 0;
  display:;
}
.album-tile figure img {
  display: block;
}

.album-tile-title {
  padding: 1em 0 0.8em;
  text-align: center;
  font-size: 1.25em;
  line-height: 1em;
}


/*******************************************************************************
 * Photo Sets
 ******************************************************************************/
.page-photoset #siteContent {
  background: #363636;
}

.photo-set-image,
.photo-set-content {
  max-width: 32%;
  margin: 0.5%;
}

.photo-set-content {
  box-sizing: border-box;
  min-width: 65%;
  max-width: 65%;
  padding: 2em;
  background: #f3f3f3;
  font-size: 1.25em;
  line-height: 1.5em;
}
  .photo-set-content h1 {
    font-size: 2.5em;
  }
  .photo-set-content blockquote {
    margin: 1em -2em;
    padding: 1em 3em;
    border-left: 8px solid #ccc;
    font-style: italic;
    background-color: #e8e8e8;
    color: #666;
  }
