#siteContent h1 {
  font-size: 2.25em;
  text-align: center;
}

.intro {
  font-size: 1.15em;
  line-height: 1.75em;
}

.field {
  margin: 0.5em 0;
}

label {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-right: 1rem;
  text-indent: 1rem;
  font-weight: bold;
  text-align: right;
  height: 1.5rem;
  line-height: 1.5rem;
  cursor: pointer;
}

input {
  display: border-box;
  height: 1.5rem;
  line-height: 1.5rem;
  border: none;
  border-bottom: 2px solid gainsboro;
}

input:focus {
  border-color: #4E74BD;
}

.actions {
  margin-top: 1.5em;
  text-align: center;
}

#dpiResult {
  margin: 2rem 0;
  font-size: 3em;
  text-align: center;
}
