.ohno {
  padding: 5em 0;
  text-align: center;
  color: rgba(255,255,255, 0.6);
}
  .ohno::before {
    content: "!";
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: 2px solid rgba(255,255,255, 0.1);
    border-radius: 100%;
    font-size: 4em;
    color: rgba(255,255,255, 0.3);
  }
