.intro {
  margin: 0 3em 3em;
  font-size: 1.5em;
  line-height: 1.5em;
  color: black;
}

.home-two-up {
  overflow: hidden;
}
  .home-two-up .column {
    float: left;
    width: 49%;
  }
  .home-two-up .column:last-child {
    margin-left: 2%;
  }
  .home-two-up .column h2 {
    margin-top: 0;
  }

  .home-two-up dt,
  .home-two-up dd {
    padding: 5px;
    border-bottom: 1px solid gainsboro;
  }
  .home-two-up dt {
    float: left;
    width: 25%;
    font-weight: bold;
  }
  .home-two-up dd {
    margin: 0;
  }

ol.article-list {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
  list-style: none;
}
  .article-list a {
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid gainsboro;
    text-decoration: none;
  }
    .article-list a:hover  {
      background-color: #f0f0f0;
    }
  .article-list li {
    overflow: hidden;
  }

.article-list-date {
  float: left;
  width: 21%;
  color: #888;
}


/*******************************************************************************
 * Media Queries
 ******************************************************************************/

@media screen and (max-width: 600px) {
  .intro {
    margin: 0 1em;
    font-size: 1.25em;
  }

  .home-two-up .column,
  .home-two-up .column:last-child {
    float: none;
    width: auto;
    margin: 2em 1em;
  }

  .article-list li,
  .home-two-up dt,
  .home-two-up dd {
    padding: 0.75em 0;
  }

  .article-list-date {
    width: 30%;
  }
  .article-list-title {
    margin-left: 31%;
  }
}
