/*******************************************************************************
 * Global Defaults and Resets
 ******************************************************************************/

body {
  margin: 0;
  font-family: "Overpass",  sans-serif;
  background-color: #f3f3f3;
  color: #444;
}

a {
  color: #4E74BD;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  height: 2px;
  margin: 3em;
  outline: 0;
  border: 0;
  background: gainsboro;
}

code {
  padding: 1px 3px;
  background: #e8e8e8;
}

pre {
  padding: 1em;
  max-height: 10em;
  overflow: auto;
  background-color: #e8e8e8;
}


/*******************************************************************************
 * Structure and Layout Classes
 ******************************************************************************/

.container {
  max-width: 960px;
  margin: auto;
}


/*******************************************************************************
 * Site Sections
 ******************************************************************************/

#siteHeader,
#siteFooter,
#siteContent {
  padding: 2em 0;
}

#siteHeader {
  border-bottom: 1px solid #BF423F;
  background-color: #F25450;
}
  #siteHeader h1 {
    margin: 0;
  }
    #siteHeader h1 a {
      color: white;
      text-decoration: none;
    }

#siteContent {
  background-color: white;
}

#siteFooter {
  border-top: 1px solid gainsboro;
  line-height: 1.5em;
}


/*******************************************************************************
 * Articles
 ******************************************************************************/

.article header {
  padding: 2em 0;
  border-bottom: 1px solid gainsboro;
  text-align: center;
}
  .article header h1 {
    margin: 0 0 0.25em 0;
    font-size: 3em;
    letter-spacing: -0.05em;
    color: black;
  }
  .article header .meta {
    color: #888;
  }

.article-body {
  padding: 2em 5em;
}
  .article-body p,
  .article-body li {
    line-height: 1.5em;
  }

  .article-body figure,
  .article-body .figure {
    margin: 2em -5em;
    text-align: center;
  }
