/*******************************************************************************
 * Global Defaults and Resets
 ******************************************************************************/

body {
  margin: 0;
  font-family: "Overpass",  sans-serif;
  background-color: #f3f3f3;
  color: #444;
}

a {
  color: #4E74BD;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  height: 2px;
  margin: 3em;
  outline: 0;
  border: 0;
  background: gainsboro;
}

p code {
  padding: 3px 6px;
  background: #efefef;
}

pre {
  margin: 1em 0;
  padding: 1em;
  max-height: 30em;
  overflow: auto;
  background-color: #efefef;
  line-height: 1.5em;
}


/*******************************************************************************
 * Code Blocks
 ******************************************************************************/

.code {
  margin: 1.5em 0;
}
  .code pre {
    margin: 0;
    padding: 1em;
  }

.code-title {
  margin: 1em 0 0 0;
  padding: 0.5em 1em;
  background: #f4f4f4;
  border-bottom: 1px solid gainsboro;
  font-family: monospace;
  color: #777;
}
  .code-title::before {
    content: "# ";
    color: #aaa;
  }


/*******************************************************************************
 * Structure and Layout Classes
 ******************************************************************************/

.container {
  max-width: 960px;
  margin: auto;
}


/*******************************************************************************
 * Site Sections
 ******************************************************************************/

#siteHeader,
#siteFooter,
#siteContent {
  padding: 2em 0;
}

#siteHeader {
  overflow: hidden;
  border-bottom: 1px solid #BF423F;
  background-color: #F25450;
}
  #siteHeader h1 {
    margin: 0;
    float: left;
    font-size: 2em;
    line-height: 1.5em;
  }
    #siteHeader h1 a {
      color: white;
      text-decoration: none;
    }

#siteNav {
  float: right;
  height: 3em;
  background: rgba(0,0,0, 0.1);
  border-radius: 1em;
}
  #siteNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #siteNav li {
    display: inline-block;
  }
  #siteNav a {
    display: inline-block;
    height: 3em;
    padding: 0 2em;
    border-radius: 1em;
    text-decoration: none;
    line-height: 3em;
    color: rgba(255,255,255, 0.75);
  }
    #siteNav a:hover {
      color: white;
    }

    .page-home #siteNav-home a,
    .page-setup #siteNav-setup a,
    .page-cv #siteNav-cv a {
      background-color: rgba(0,0,0, 0.1);
      color: white;
    }


#siteContent {
  background-color: white;
}

#siteFooter {
  border-top: 1px solid gainsboro;
  line-height: 1.5em;
}


/*******************************************************************************
 * Articles
 ******************************************************************************/

.article header {
  padding: 2em 0;
  border-bottom: 1px solid gainsboro;
  text-align: center;
}
  .article header h1 {
    margin: 0 0 0.25em 0;
    font-size: 3em;
    letter-spacing: -0.05em;
    color: black;
  }
  .article header .meta {
    color: #888;
  }

.article-body {
  padding: 2em 5em;
}
  .article-body p,
  .article-body li {
    line-height: 1.5em;
  }

  .article-body figure,
  .article-body .figure {
    margin: 2em -5em;
    text-align: center;
  }


/*******************************************************************************
 * Media Queries
 ******************************************************************************/

@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }

  #siteHeader {
    text-align: center;
  }

  #siteHeader h1 {
    float: none;
  }

  #siteNav {
    margin: 2em 0 0 0;
    float: none;
    height: auto;
  }
  #siteNav a {
    padding: 0 1.25em;
  }

  .article header h1 {
    font-size: 2.5em;
  }

  .article-body {
    padding: 2em 1em;
  }

  .article-body figure,
  .article-body .figure {
    margin-left: -1em;
    margin-right: -1em;
  }

}
