
/*******************************************************************************
 * Global Defaults and Resets
 ******************************************************************************/

body {
  margin: 0;
  font-family: "Overpass",  sans-serif;
  background-color: #f3f3f3;
  color: #444;
}

a {
  color: #4E74BD;
}


/*******************************************************************************
 * Structure and Layout Classes
 ******************************************************************************/

.container {
  max-width: 960px;
  margin: auto;
}


/*******************************************************************************
 * Site Sections
 ******************************************************************************/

#siteHeader,
#siteFooter,
#siteContent {
  padding: 2em 0;
}

#siteHeader {
  border-bottom: 1px solid #BF423F;
  background-color: #F25450;
}
  #siteHeader h1 {
    margin: 0;
  }
    #siteHeader h1 a {
      color: white;
      text-decoration: none;
    }

#siteContent {
  background-color: white;
}

#siteFooter {
  border-top: 1px solid gainsboro;
  line-height: 1.5em;
}
