/**
 * alexblackie.com
 * 2015-10-25
 */

/* GLOBAL
 * -----------------------------------------------------------------------------
 */
html {
	font-size: 17px;
}

body {
	max-width: 980px;
	margin: 0 auto;
	font-family: "Source Serif Pro", sans-serif;
}

code {
	padding: 2px 5px;
	background: #efefef;
}

pre > code {
	display: block;
	padding: 10px 140px;
	margin: 0 -140px;
	max-height: 600px;
	overflow: auto;
}

hr {
	margin: 1.5em 0;
	height: 1px;
	background-color: gainsboro;
	border: none;
}

h1, h2 {
	font-family: "Source Sans Pro", sans-serif;
}


/* LAYOUT
 * -----------------------------------------------------------------------------
 */
#header,
#footer {
	padding: 2em;
	overflow: hidden;
}

#header {
	border-bottom: 1px solid gainsboro;
}

#header div {
	float: left;
}

#header h1,
#header p {
	margin: 0;
}

#header h1 {
	font-size: 2.5em;
}

#header h1 a {
	text-decoration: none;
	color: inherit;
}

#header #nav {
	float: right;
	margin-top: 2em;
}

#header #nav a {
	display: inline-block;
	margin: 0 10px;
}

#main {
	margin: 1em 0;
	line-height: 1.6em;
}

#main img {
	max-width: 100%;
	height: auto;
}

#footer {
	margin-top: 2em;
	color: #888;
	border-top: 1px solid gainsboro;
}

#footer a {
	color: #555;
}
#footer a:hover {
	color: #222;
}

#footer img {
	opacity: 0.6;
}
#footer img:hover {
	opacity: 1;
}

#footer .footer-left {
	float: left;
}

#footer .footer-right {
	float: right;
	margin: 0;
	max-width: 300px;
	text-align: right;
}

#footer :first-child {
	margin-top: 0;
}
#footer :last-child {
	margin-bottom: 0;
}


/* COMPONENTS
 * -----------------------------------------------------------------------------
 */
big {
	display: block;
	padding: 50px 100px;
	font-size: 1.5em;
	line-height: 1.4em;
	text-align: center;
}


/* WEBLOG
 * -----------------------------------------------------------------------------
 */
.article-single #main {
	max-width: 700px;
	margin: 0 auto;
}

.article-single h2 {
	margin: 2em 0 1em;
	font-size: 2em;
	line-height: 1em;
	text-align: center;
}

.article-single h3 {
	margin: 2em 0 1em;
}


/* RESPONSIVE OVERRIDES
 * -----------------------------------------------------------------------------
 */
@media screen and (max-width: 980px) { /* "Small desktop" */
	big {
		padding: 25px 50px;
	}
}

@media screen and (max-width: 768px) { /* "Tablet" */
	big {
		padding: 25px;
	}
}

@media screen and (max-width: 512px) { /* "Mobile" */
	pre > code {
		margin: 1.5em -15px;
		padding: 15px;
		border-radius: 0;
	}

	#header,
	#footer {
		text-align: center;
	}

	#header div,
	#header #nav {
		float: none;
	}

	#header #nav a {
		line-height: 3em;
	}

	big {
		padding: 20px 15px;
		font-size: 1.25em;
	}

	#main {
		padding: 0 15px;
	}

	#footer .footer-right,
	#footer .footer-left {
		float: none;
		margin: 20px 0;
		text-align: center;
	}

	.page-narrow #main {
		margin: 20px 10px;

	}
}
