---
title: Ripping up History
post_image: null
gallery: true
excerpt: Two houses ago, we lived in the Okanagan. We signed up for Telus "high-speed" internet, which included one megabit per second download speed, 0.5 megabit upload speed, and a free Lenovo tower. The year was around 2005.
---

%figure.kick-left= link_to image_tag( 'articles/ripping-up-history/broad-view.jpg', width: 250 ), image_path( 'articles/ripping-up-history/broad-view.jpg' ), class: 'lightbox'

%p Up until a few years ago, I still used this free Lenovo tower as my primary machine. Right before I got rid of it (it was replaced with a 21" iMac), the specs were as follows:

%table( width='70%' border='0' cellspacing='0' )
  %tbody
    %tr
      %th( width='30%' ) CPU
      %td( width='70%' ) 2.0GHz AMD Sempron

    %tr
      %th Socket
      %td AM2

    %tr
      %th RAM
      %td 3.5GB (assorted frequencies; upgraded from 512MB)

    %tr
      %th HDD
      %td Western Digital Caviar SE 80GB 5400-RPM

    %tr
      %th Graphics</th>
      %td ATI Radeon Express embedded chipset (unsure of specs)<br><a href="http://www.asus.com/Graphics_Cards/EAH5450_SILENTDI512MD2LP/">512MB Asus Radeon 5450</a> (added after I had given it to my brother)</td>

    %tr
      %th WiFi
      %td <a href="http://www.dlink.com/us/en/support/product/wda-2320-rangebooster-g-desktop-adapter">DLink WDA-2320</a> (after-market)

    %tr
      %th OSes
      %td Windows Vista Home Basic (OEM),<br>Fedora Core 6,<br>Ubuntu 8.10 Intrepid

%p I had this beauty running on a single VGA monitor, 4:3 aspect ratio, 1280x1024 resolution, 17" NEC LCD display.
%p And I wondered why I couldn't have Firefox and the GIMP open at the same time...
%p Up until today, this computer has been my little brother's gaming machine (pretty lightweight gaming, obviously), a file server, a Minecraft server, and OwnCloud server, and a bunch of other servers. Lately, it's been the place in which I learn about how computer hardware works. After today, this computer will probably never run again.
%p This computer was the first computer on which I installed Linux. It was the genesis of the turmoil and tinkering that I have done with operating systems in the past few years... I almost feel sad tearing it apart.
%p So I figured I would forever archive its existence in words and pictures on the Internet. So, here you go.

%article.photo
  %figure.kick-right= link_to image_tag( 'articles/ripping-up-history/cpu.jpg', width: 250 ), image_path( 'articles/ripping-up-history/cpu.jpg' ), class: 'lightbox'

  %h2 The Core
  %p The system was powered by a single-core, 2.0GHz AMD Sempron processor. Since it's using an AM2 socket, you can't even buy a new CPU that will fit in there.

%article.photo
  %figure.kick-left= link_to image_tag( 'articles/ripping-up-history/radeon.jpg', width: 250 ), image_path( 'articles/ripping-up-history/radeon.jpg' ), class: 'lightbox'

  %h2 Radeon Sweetness
  %p VGA-only, can't run Compiz at high settings, no Aero support... It was probably the bottleneck of the system.
  %p Luckily I was never much of a PC gamer back when I used this computer, so the only issue I had was Compiz being laggy.

%article.photo
  %figure.kick-right= link_to image_tag( 'articles/ripping-up-history/hdd.jpg', width: 250 ), image_path( 'articles/ripping-up-history/hdd.jpg' ), class: 'lightbox'

  %h2 The Hard Drive
  %p Honestly, I don't have much to say about the hard drive. The rest of the system was so slow I never really noticed the 5400-RPM. It most likely didn't help.
  %p I do remember running into space issues more than once, however. At one time I had Ubuntu and Vista installed side-by-side, each with a 40GB partition (being an 80GB drive).
  %p Loud as hell, too.

%p So what used to be the centre of my life is now a pile of parts sitting on the floor of my room.
%p Why did I go through all this? The main reason is I'm planning to build a desktop PC, and the best way to learn about something is to take it apart. Plus if I can salvage some parts, I can save money on the build.

%p However, most of the parts are not salvageable (like the motherboard, RAM, or processor), except for the after-market additions like the discrete <a href="http://www.asus.com/Graphics_Cards/EAH5450_SILENTDI512MD2LP/">Asus Radeon 5450</a> card I put in there for my brother. Although it's old, it'll be helpful until I can upgrade to a beefier card.
%p Also, old tech is just fun to take apart.

%hr

%p All photos were taken by my <a href="http://www.google.com/nexus/4/">Nexus 4</a>, after realizing I do not own a "real" camera. I am actually quite satisfied with the results.
