<article class="article article-single">

  <section class="about-intro">
    <figure>
      <img src="https://cdn.blackieops.com/alexblackie/selfie.jpg" alt="Selfie" width="350" height="350">
    </figure>

    <div>
      <p>
        <strong>Greetings.</strong> I'm a computer programmer and systems architect, currently working at <a href="https://www.getflow.com">Flow</a>, helping grow our API and production infrastructure.
      </p>

      <p>
        I experiment a lot in my free time, and the results of that usually end up under the <a href="https://github.com/blackieops">BlackieOps</a> name.
      </p>

      <p>
        I am an anglophone transplant in <strong>Montréal, Québec</strong>.<br>
        でも、私は少し日本語を話します.
      </p>
    </div>
  </section>

  <section class="about-history">
    <div class="timeline">
      <div class="timeline-step">
        <a class="date">2009</a>
        I started my career doing freelance web development (primarily using WordPress) for local businesses under the name of <strong>X96 Design</strong>. I never made enough yearly income to warrant paying taxes, and did a lot of work for experience. However, since I was 13 at the time, that was just fine.
      </div>

      <div class="timeline-step">
        <a class="date">2012</a>
        I applied for a summer internship at <strong><a href="https://metalab.co">Metalab</a></strong> and somehow landed a job as frontend web developer. My colleagues there taught me more than I could have ever imagined, including the magic of caffeine (thanks, Steven).
      </div>

      <div class="timeline-step">
        <a class="date">2015</a>
        I moved to <strong><a href="https://stembolt.com">Stembolt</a></strong>, building eCommerce sites in Rails. It was here that my interest in production engineering became realised. A company full of Linux users and backend developers was a significantly different experience, and I was able to learn so much from my colleagues during my time there.
      </div>

      <div class="timeline-step">
        <a class="date">2017</a>
        I was stolen back into the Metalab family into my current role at <strong><a href="https://www.getflow.com">Flow</a></strong>.
      </div>
    </div>
  </section>

  <section class="about-skillz">
    <div class="about-skillz-work">
      <p>
        <strong>Professionally</strong> I get to build, maintain, and deploy software built with&hellip;
      </p>

      <ul>
        <li><strong>Ruby &amp; Rails</strong>: the classic monolithic web stack</a></li>
        <li><strong>Elixir</strong> for heavily-concurrent, realtime data and event processing</a></li>
        <li><strong>Ansible</strong> for reliable and scalable server automation.</li>
        <li><strong>Hashicorp Terraform</strong> to easily replicate, audit, and document cloud resources.</li>
      </ul>
    </div>
    <div class="about-skillz-me">
      <p>
        <strong>Personally</strong> I tend to drift between languages and environments as my mood shifts.
      </p>

      <ul>
        <li><strong>Ruby</strong> is still the language I am most productive with; for example, <a href="https://github.com/alexblackie/watashi">this site</a> is a Ruby app.</li>
        <li><strong>Java</strong> has a conflicted place in my heart, especially <strong>the JVM</strong> and <strong>servlet containers</strong>.</li>
        <li><strong>Elixir</strong> powers a number of my larger side projects, but none have yet to be completed.</li>
        <li><strong>Ansible</strong> helps me maintain my surprisingly-expansive personal infrastructure.</li>
      </ul>
    </div>

    <div class="about-skillz-past">
      <p>
        <strong>My past experience</strong> lends itself to some fun stories and rants&hellip;
      </p>

      <ul>
        <li><strong>Chef</strong> was my first experience with automation, before Ansible. Chef is the reason I tried Ansible.</li>
        <li><strong>PHP</strong> was my first "backend" programming language. I wrote many (probably insecure) web apps back in early days of my career.</li>
        <li><strong>WordPress</strong> was a large part of the beginning of my career, though I'm useless with it now.</li>
      </ul>
    </div>
  </section>

</article>
