.ohno {
  padding: 5em 0;
  text-align: center;
}
  .ohno::before {
    content: "!";
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: 2px solid gainsboro;
    border-radius: 100%;
    font-size: 4em;
    color: gainsboro;
  }
