body {
  margin: 0;
  padding: 0;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  color: $color-text;
  background-color: $color-background-body;
}

a {
  color: $color-highlight;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-secondary;
}

pre {
  padding: 10px;
  overflow: auto;
  max-height: 400px;
}

hr {
  outline: 0;
  border: 0;
  height: 1px;
  background: $color-border-light;
}

em {
  font-style: italic;
}

strong {
  font-size: 110%;
  font-weight: bold;
}

pre, code {
  font-family: monospace;
  font-size: $font-size-base * 0.8;
}

pre {
  margin-bottom: 20px;
  padding: 10px;
}

p code,
li code {
  padding: 2px 4px;
  background-color: $color-background-light;
  text-shadow: 0 1px 0 rgba(white, 0.5);
}

ul, ol {
  margin: 1.5em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

table {
  border: 1px solid $color-border-light;
  border-right: 0;

  th, td {
    padding: 5px 10px;
    border-right: 1px solid $color-border-light;
    border-bottom: 1px solid $color-border-light;
  }

  th {
    background: $color-background-light;
  }
}
