body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  background-color: $color-background-body;
}

pre,
code {
  background-color: gainsboro;
}

pre {
  padding: 10px;
  overflow: auto;
  max-height: 400px;
}

.container {
  @include container(960px);
}
