.post-single {
  .post-header {
    margin-bottom: 25px;
    text-align: center;

    h1 {
      margin: 0;
      font-size: 2.5em;
    }
  }

  .post-header-meta {
    margin-top: 10px;
    color: darkgrey;
  }

  figure {
    margin: 0 0 1em;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.post-content {
  line-height: 1.4em;

  h2, h3, h4 {
    margin: 2em 0 0 0;
    font-family: $font-family-primary;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }
}

.post-member {
  padding: 5px 0;
  border-bottom: 1px dotted grey;

  h1 {
    margin: 0 10px 0 0;
    font-size: 1em;
  }

  span {
    float: left;
    margin-right: 10px;
    color: dimgrey;
  }
}
