#home-content {
  padding: 50px 0;
}

.home-column {
  @include span(6);
  @include box-sizing(border-box);
  border: 1px solid $color-border-light;

  .home-column-title {
    margin: 0;
    padding: 10px 20px;
    font-size: 1.25em;
    background-color: $color-border-light;
  }

  .home-column-content {
    padding: 20px;
  }

  ul {
    margin: 0;
    padding: 0 0 0 1em;
  }
}

.home-column-about {
  @include omega;
}
