//-----------------------------------------------------------------------------
// Variables
//-----------------------------------------------------------------------------
// Grid
$susy: (columns: 12);

// Fonts
$font-family-primary: "Source Serif Pro", serif;
$font-family-secondary: "Open Sans", sans-serif;
$font-size-base: 16px;

// Colours
$color-highlight: #2795ce;

$color-border-light: #e9e9e9;
$color-background-light: #ecf0f1;

$color-text: #333;

$color-background-body: white;
$color-background-header: #363940;

// Sizes
$height-header: 60px;
$padding-header-home: 65px 0 75px;
