//-----------------------------------------------------------------------------
// Variables
//-----------------------------------------------------------------------------
// Grid
$susy: (columns: 12);

// Fonts
$font-family-primary: "DejaVu Serif", serif;
$font-size-base: 16px;

// Colours
$color-background-body: white;
$color-background-header: palegoldenrod;

// Sizes
$height-header: 50px;
$padding-header: 25px;
