#site-sidebar {
  @include span(3);

  nav {
    margin-bottom: 25px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        display: block;
        margin: 5px 0;
        padding: 5px 10px;
        text-decoration: none;
        background-color: #efefef;
      }
    }
  }

  .powered-by-freebsd {
    @include clearfix;

    img {
      float: left;
      margin-right: 5px;
    }

    p {
      padding-top: 15px;
    }
  }
}
