<% wrap_layout :layout do %>
  <header id="site-header">
    <h1><%= link_to "Alex Blackie", "/" %></h1>
    <h2>The Internet Sensation&trade;</h2>
  </header>

  <div role="main" id="site-content"><div class="container">
    <%= yield %>
  </div></div>
<% end %>
