/**
  * alexblackie dot com
  */

@import url("//fonts.googleapis.com/css?family=Noto+Serif:400,700|Cabin+Condensed:700,400");

/**
 * General/global styles
 */

* {
  -webkit-font-smoothing: antialiased; }

html {
  background-color: #efefef; }

body {
  max-width:   600px;
  margin:      0 auto;
  font-family: 'Noto Serif';
  font-size:   16px;
  line-height: 1.5em;
  color:       #555;
  background:  white; }

a {
  text-decoration: none;
  color: #4995EE; }

  a:hover {
    text-decoration: underline; }

h1, h2, h3, h4 {
  font-family: 'Cabin Condensed';
  line-height: 1.25em;
  color:       black; }

hr {
  height:     2px;
  background: #eee;
  outline:    0;
  border:     0; }

p, ul, ol,
h1, h2, h3, h4,
footer {
  padding-left:  50px;
  padding-right: 50px; }

[role='banner'] {
  padding: 50px 0;
  margin-bottom: 50px;
  font-family: 'Cabin Condensed';
  letter-spacing: 1px;
  text-shadow: 0 1px 2px black;
  background: #353535;
  background: linear-gradient(#222 0, #444 100%);
  color: #ddd; }

  [role='banner'] h1 {
    margin: 0 0 20px 0;
    font-size: 3em;
    color: #ececec; }

footer {
  margin-top:  50px;
  padding:     50px;
  font-family: 'Cabin Condensed';
  text-align:  center;
  color:       #999;
  background:  #efefef; }

  footer a {
    text-decoration: underline;
    color: #777; }


/**
 * Article Styling
 **/

ul[role='menu'] {
  margin:     0;
  list-style: none;
  color:      #999; }
  ul[role='menu'] li[role='menuitem'] {
    padding: 5px 0; }
  ul[role='menu'] li[role='menuitem'] a {
    float:   left;
    width:   60%;
  }

.back-link a {
  display:          block;
  padding:          10px 50px;
  font-family:      'Cabin Condensed';
  font-size:        13px;
  text-transform:   uppercase;
  color:            #ddd;
  background-color: #353535; }
  .back-link a:before {
    content: "\2190  "; }
  .back-link a:hover {
    text-decoration: none;
    color: white; }

header[role='heading'] {
  padding: 50px 0 0; }
  header[role='heading'] h1 {
    margin: 0;
    font-size: 3em; }

article[role='main'] {
  padding-bottom: 50px; }
