$fontFamilyDefault = "Overpass",  sans-serif;
$fontFamilyMono = "Source Code Pro", monospace;
$fontFamilySerif = "Source Serif Pro", serif;

$colorHighlight = #3dd3b3;
$colorHighlightAlt = #d33d5d;

$colorBackgroundDark = #26323b;
$colorBorder = gainsboro;

$colorText = #444;
$colorTextLight = #777;
$colorTextBright = #aaa;

$colorBackgroundDim = #efefef;

$heightHeader = 3rem;
