// ----------------------------------------------------------------------------
// Fonts and Typography
// ----------------------------------------------------------------------------
$fontFamilyDefault = "Overpass",  sans-serif;
$fontFamilyMono = "Fira Mono", monospace;


// ----------------------------------------------------------------------------
// Colour Palette
// ----------------------------------------------------------------------------
$paletteDarkWhite = #ededed;
$paletteLightGrey = #aaa;
$paletteGrey = #777;
$paletteBlack = #343434;
$paletteTeal = #0eb9d2;
$palettePink = #d20e6a;
$paletteDarkBlue = #283138;


// ----------------------------------------------------------------------------
// Colour assignments
// ----------------------------------------------------------------------------
$colorHighlight = $paletteTeal;
$colorHighlightAlt = $palettePink;

$colorText = $paletteBlack;
$colorTextLight = $paletteGrey;
$colorTextBright = $paletteLightGrey;

$colorBackgroundDim = $paletteDarkWhite;

$colorBackgroundDark = $paletteDarkBlue;
$colorBackgroundLight = $paletteLightGrey;

$colorBorder = darken($paletteDarkWhite, 10%);
$colorBorderLight = $paletteDarkWhite;


// ----------------------------------------------------------------------------
// Box Model
// ----------------------------------------------------------------------------
$heightHeader = 3rem;

$paddingContentX = 4rem;
