.chroma pre,
.chroma code,
.chroma .hll { padding: 6px 10px; border-radius: 3px; }
.chroma .c { color: #999988; font-style: italic; }
.chroma .err { color: #a61717; background-color: #e3d2d2; }
.chroma .k { font-weight: bold; }
.chroma .o { font-weight: bold; }
.chroma .cm { color: #999988; font-style: italic; }
.chroma .cp { color: #999999; font-weight: bold; }
.chroma .c1 { color: #999988; font-style: italic; }
.chroma .cs { color: #999999; font-weight: bold; font-style: italic; }
.chroma .gd { color: #000000; background-color: #ffdddd; }
.chroma .gd .x { color: #000000; background-color: #ffaaaa; }
.chroma .ge { font-style: italic; }
.chroma .gr { color: #aa0000; }
.chroma .gh { color: #999999; }
.chroma .gi { color: #000000; background-color: #ddffdd; }
.chroma .gi .x { color: #000000; background-color: #aaffaa; }
.chroma .go { color: #888888; }
.chroma .gp { color: #555555; }
.chroma .gs { font-weight: bold; }
.chroma .gu { color: #800080; font-weight: bold; }
.chroma .gt { color: #aa0000; }
.chroma .kc { font-weight: bold; }
.chroma .kd { font-weight: bold; }
.chroma .kn { font-weight: bold; }
.chroma .kp { font-weight: bold; }
.chroma .kr { font-weight: bold; }
.chroma .kt { color: #445588; font-weight: bold; }
.chroma .m { color: #009999; }
.chroma .s { color: #dd1144; }
.chroma .n { color: #333333; }
.chroma .na { color: teal; }
.chroma .nb { color: #0086b3; }
.chroma .nc { color: #445588; font-weight: bold; }
.chroma .no { color: teal; }
.chroma .ni { color: purple; }
.chroma .ne { color: #990000; font-weight: bold; }
.chroma .nf { color: #990000; font-weight: bold; }
.chroma .nn { color: #555555; }
.chroma .nt { color: navy; }
.chroma .nv { color: teal; }
.chroma .ow { font-weight: bold; }
.chroma .w { color: #bbbbbb; }
.chroma .mf { color: #009999; }
.chroma .mh { color: #009999; }
.chroma .mi { color: #009999; }
.chroma .mo { color: #009999; }
.chroma .sb { color: #dd1144; }
.chroma .sc { color: #dd1144; }
.chroma .sd { color: #dd1144; }
.chroma .s2 { color: #dd1144; }
.chroma .se { color: #dd1144; }
.chroma .sh { color: #dd1144; }
.chroma .si { color: #dd1144; }
.chroma .sx { color: #dd1144; }
.chroma .sr { color: #009926; }
.chroma .s1 { color: #dd1144; }
.chroma .ss { color: #990073; }
.chroma .bp { color: #999999; }
.chroma .vc { color: teal; }
.chroma .vg { color: teal; }
.chroma .vi { color: teal; }
.chroma .il { color: #009999; }
.chroma .gc { color: #999; background-color: #EAF2F5; }

@media (prefers-color-scheme: dark) {
	/* Dracula Theme v1.2.5
	 *
	 * https://github.com/zenorocha/dracula-theme
	 *
	 * Copyright 2016, All rights reserved
	 *
	 * Code licensed under the MIT license
	 * http://zenorocha.mit-license.org
	 *
	 * @author Rob G <wowmotty@gmail.com>
	 * @author Chris Bracco <chris@cbracco.me>
	 * @author Zeno Rocha <hi@zenorocha.com>
	 */

	.chroma .hll { background-color: #f1fa8c }
	.chroma  { background: #282a36; color: #f8f8f2 }
	.chroma .c { color: #6272a4 } /* Comment */
	.chroma .err { color: #f8f8f2 } /* Error */
	.chroma .g { color: #f8f8f2 } /* Generic */
	.chroma .k { color: #ff79c6 } /* Keyword */
	.chroma .l { color: #f8f8f2 } /* Literal */
	.chroma .n { color: #f8f8f2 } /* Name */
	.chroma .o { color: #ff79c6 } /* Operator */
	.chroma .x { color: #f8f8f2 } /* Other */
	.chroma .p { color: #f8f8f2 } /* Punctuation */
	.chroma .ch { color: #6272a4 } /* Comment.Hashbang */
	.chroma .cm { color: #6272a4 } /* Comment.Multiline */
	.chroma .cp { color: #ff79c6 } /* Comment.Preproc */
	.chroma .cpf { color: #6272a4 } /* Comment.PreprocFile */
	.chroma .c1 { color: #6272a4 } /* Comment.Single */
	.chroma .cs { color: #6272a4 } /* Comment.Special */
	.chroma .gd { background-color: var(--color-bg-code-rem); color: inherit; } /* Generic.Deleted */
	.chroma .ge { color: #f8f8f2; text-decoration: underline } /* Generic.Emph */
	.chroma .gr { color: #f8f8f2 } /* Generic.Error */
	.chroma .gh { color: #f8f8f2; font-weight: bold } /* Generic.Heading */
	.chroma .gi { background-color: var(--color-bg-code-add); color: inherit; } /* Generic.Inserted */
	.chroma .go { color: #44475a } /* Generic.Output */
	.chroma .gp { color: #f8f8f2 } /* Generic.Prompt */
	.chroma .gs { color: #f8f8f2 } /* Generic.Strong */
	.chroma .gu { color: #f8f8f2; font-weight: bold } /* Generic.Subheading */
	.chroma .gt { color: #f8f8f2 } /* Generic.Traceback */
	.chroma .kc { color: #ff79c6 } /* Keyword.Constant */
	.chroma .kd { color: #8be9fd; font-style: italic } /* Keyword.Declaration */
	.chroma .kn { color: #ff79c6 } /* Keyword.Namespace */
	.chroma .kp { color: #ff79c6 } /* Keyword.Pseudo */
	.chroma .kr { color: #ff79c6 } /* Keyword.Reserved */
	.chroma .kt { color: #8be9fd } /* Keyword.Type */
	.chroma .ld { color: #f8f8f2 } /* Literal.Date */
	.chroma .m { color: #bd93f9 } /* Literal.Number */
	.chroma .s { color: #f1fa8c } /* Literal.String */
	.chroma .na { color: #50fa7b } /* Name.Attribute */
	.chroma .nb { color: #8be9fd; font-style: italic } /* Name.Builtin */
	.chroma .nc { color: #50fa7b } /* Name.Class */
	.chroma .no { color: #f8f8f2 } /* Name.Constant */
	.chroma .nd { color: #f8f8f2 } /* Name.Decorator */
	.chroma .ni { color: #f8f8f2 } /* Name.Entity */
	.chroma .ne { color: #f8f8f2 } /* Name.Exception */
	.chroma .nf { color: #50fa7b } /* Name.Function */
	.chroma .nl { color: #8be9fd; font-style: italic } /* Name.Label */
	.chroma .nn { color: #f8f8f2 } /* Name.Namespace */
	.chroma .nx { color: #f8f8f2 } /* Name.Other */
	.chroma .py { color: #f8f8f2 } /* Name.Property */
	.chroma .nt { color: #ff79c6 } /* Name.Tag */
	.chroma .nv { color: #8be9fd; font-style: italic } /* Name.Variable */
	.chroma .ow { color: #ff79c6 } /* Operator.Word */
	.chroma .w { color: #f8f8f2 } /* Text.Whitespace */
	.chroma .mb { color: #bd93f9 } /* Literal.Number.Bin */
	.chroma .mf { color: #bd93f9 } /* Literal.Number.Float */
	.chroma .mh { color: #bd93f9 } /* Literal.Number.Hex */
	.chroma .mi { color: #bd93f9 } /* Literal.Number.Integer */
	.chroma .mo { color: #bd93f9 } /* Literal.Number.Oct */
	.chroma .sa { color: #f1fa8c } /* Literal.String.Affix */
	.chroma .sb { color: #f1fa8c } /* Literal.String.Backtick */
	.chroma .sc { color: #f1fa8c } /* Literal.String.Char */
	.chroma .dl { color: #f1fa8c } /* Literal.String.Delimiter */
	.chroma .sd { color: #f1fa8c } /* Literal.String.Doc */
	.chroma .s2 { color: #f1fa8c } /* Literal.String.Double */
	.chroma .se { color: #f1fa8c } /* Literal.String.Escape */
	.chroma .sh { color: #f1fa8c } /* Literal.String.Heredoc */
	.chroma .si { color: #f1fa8c } /* Literal.String.Interpol */
	.chroma .sx { color: #f1fa8c } /* Literal.String.Other */
	.chroma .sr { color: #f1fa8c } /* Literal.String.Regex */
	.chroma .s1 { color: #f1fa8c } /* Literal.String.Single */
	.chroma .ss { color: #f1fa8c } /* Literal.String.Symbol */
	.chroma .bp { color: #f8f8f2; font-style: italic } /* Name.Builtin.Pseudo */
	.chroma .fm { color: #50fa7b } /* Name.Function.Magic */
	.chroma .vc { color: #8be9fd; font-style: italic } /* Name.Variable.Class */
	.chroma .vg { color: #8be9fd; font-style: italic } /* Name.Variable.Global */
	.chroma .vi { color: #8be9fd; font-style: italic } /* Name.Variable.Instance */
	.chroma .vm { color: #8be9fd; font-style: italic } /* Name.Variable.Magic */
	.chroma .il { color: #bd93f9 } /* Literal.Number.Integer.Long */
}
