<!doctype html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>$title &mdash; Alex Blackie</title>
	<link rel="stylesheet" href="/_/site.css" type="text/css">
</head>
<body>
	<header class="siteHeader">
		<h1>
			<a class="siteHeader--brandLink" href="/">
				<img src="/_/avi.jpg" alt="Avatar of Alex Blackie." width="32" height="32">
				<span>Alex Blackie</span>
			</a>
		</h1>

		<!-- one day
		<nav class="siteMenu" role="navigation">
			<a href="/">Articles</a>
		</nav> -->
		<div class="siteMenu">
			<em>The Internet Sensation&trade;</em>
		</div>
	</header>

	<div class="siteContent">
		$content
	</div>

	<footer class="siteFooter">
		&copy; 2013-$(date +%Y) Alex Blackie. Some Rights Reserved.<br>
		This site is <a href="https://github.com/alexblackie/watashi">open source</a> &middot; Powered by bash, nginx, and lots of coffee.
	</footer>
</body>
