.sectionTitle {
  font-weight: normal;
  font-style: italic;
  font-size: 2rem;
  margin: 2rem 0;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 2rem;
}

  .cardContainer > div {
    flex-shrink: 0;
    max-width: 45%;
    margin: 2%;
  }