<article class="article article-single">
  <header>
    <h1>Alex Blackie</h1>
    <div class="meta">
      <a href="mailto:alex@alexblackie.com">alex@alexblackie.com</a>
      &middot;
      <a href="https://www.alexblackie.com">www.alexblackie.com</a>
      &middot;
      Victoria, BC, Canada
    </div>
  </header>

  <div class="article-body">
    <section id="synopsis">
      <h2>Abstract</h2>

      <p>
        I am a programmer and systems administrator, currently in
        Victoria, BC, Canada. I have worked extensively with PHP,
        JavaScript, Ruby on Rails, and Elixir through my experiences
        working with and for some great companies. I was lucky enough
        to eventually have systems administration (and "DevOps") enter
        my career, and now get the privilege to do both programming and
        operations in my current role.
      </p>
    </section>

    <section id="experience">
      <h2>Experience</h2>

      <dl>
        <dt>Flow Technologies Ltd. (November 2016 - Present)</dt>
        <dd>
          <p>
            Joining the API team at Flow, I help build and maintain
            the heart of the Flow SaaS product, as well as oversee
            the scaling and operations surrounding the application.
          </p>
        </dd>

        <dt>Stembolt Technologies Inc. (March 2015 - September 2016)</dt>
        <dd>
          <p>
            At Stembolt I primarily worked as a web developer, building and maintaining eCommerce websites using the <a href="https://solidus.io/">Solidus</a> platform. My time at Stembolt was what could be described as "full stack", as projects ranged from scaling Chef deployments to rewriting JS colour pickers to writing Ruby-based integrations for logistics providers.
          </p>
          <p>
            Additionally, I ended up taking ownership of a lot of the DevOps responsibilities. Some highlights:
          </p>

          <ul>
            <li>Hand-built a small rack of servers</li>
            <li>Automated on-prem server provisioning with Chef</li>
            <li>Set up and maintained internal devops services including Gemstash, NFS, and Jenkins.</li>
            <li>Migrated legacy Jenkins jobs to a new system based on Docker to parallelize and scale builds</li>
            <li>Upgraded internal services to two gigabit (bonds) from the previous 100 megabit.</li>
            <li>Upgraded the office network to a OPNsense router, instead of an off-the-shelf consumer router.</li>
            <li>Helped set up new AWS deployments, as well as maintain legacy ones.</li>
          </ul>
        </dd>

        <dt>Metalab Design Ltd. (July 2012 - February 2015)</dt>
        <dd>
          <p>
            At Metalab I focused primarily on front-end development, development, building web sites for various startups and corporations. Projects ranged from static sites built with Middleman to Tumblr themes and even a couple WordPress sites.
          </p>
          <p>
            Additionally, I helped build several prototypes of the chat feature for the SaaS product Flow (now its own company, separate from Metalab). This included working closely with other colleagues to design, prototype, and build a real-time websocket API from scratch using Elixir (though the original prototypes were Scala-based).
          </p>
        </dd>

        <dt>X96 Design (September 2008 - June 2012)</dt>
        <dd>
          <p>
            Managed, designed, and developed websites for a variety of local businesses and individuals using WordPress and custom PHP software solutions.
          </p>
        </dd>
      </dl>
    </section>
  </div>
</article>
