<article class="article article-single">
  <header>
    <h1><%= page_title %></h1>
  </header>

  <div class="article-body">
    <p>
      I take great enjoyment of reading about how other people use their computers and desks. Sites like <a href="https://usesthis.com/">UsesThis</a> and <a href="http://simpledesks.net/">Simple Desks</a> have taken many hours of my life, and I have taken inspiration from them many times. I realised that I don't really talk about my setup, outside of the commits for <a href="https://github.com/alexblackie/dotfiles">my dotfiles</a>, so this page will serve as a perpetually-updated reference for how I'm currently using my computer.
    </p>

    <div class="figure wide">
      <a href="https://cdn.blackieops.com/alexblackie/setup-2017-xps.jpg">
        <img src="https://cdn.blackieops.com/alexblackie/setup-2017-xps.jpg" alt="Screenshot from my laptop" />
      </a>
    </div>

    <p>
      I'm currently running the latest <a href="https://getfedora.org/">Fedora</a> with the default GNOME 3 desktop. I've been a GNOME guy all my life, and I really like some of the modern desktop niceties like easy configuration, 3D compositing, and a generally pleasant and cohesive UI. I stick with a lot of the standard GNOME tools: GNOME Terminal, Nautilus, Boxes, etc.
    </p>

    <p>
      My laptops are provisioned with <a href="https://github.com/alexblackie/bootstart">Ansible playbooks</a>, which means my entire development environment is automated and documented. Additionally, it means if I need to reinstall my OS or get a new laptop, the time from fresh-install-to-productive is ~5 minutes.
    </p>

    <p>
      I've recently switched back to <a href="https://sublimetext.com">Sublime Text</a> after several years of Vim. I still use <a href="https://github.com/tmux/tmux/wiki">tmux</a> quite heavily, I use good old Bash as my default shell, and I'm almost always listening to music using <a href="https://github.com/gnumdk/lollypop">Lollypop</a> (the best music app I've ever used).
    </p>

    <figure>
      <img src="https://cdn.blackieops.com/alexblackie/desk-201712.jpg" alt="My Desk 2017-12-24">
    </figure>

    <p>
    My primary laptop is a <a href="https://system76.com/">System76</a> Galago UltraPro (galu1) which sports a Core i7-4770HQ (4 core, 8 thread) CPU, 8GB RAM, dual SSDs (128GB + 512GB), a 1080p IPS screen, a disappointing 3-4hrs of battery runtime, and the worst build quality of any machine I've ever owned. But damn it's fast.
    </p>

    <p>
      My work machine is a Lenovo Thinkpad T460p, with an Intel i5-6440HQ CPU, 16GB RAM, 512GB SSD, and 1080p IPS display.
    </p>

    <p>
      On my desk sits a <a href="https://www.newegg.ca/Product/Product.aspx?Item=N82E16824025172">LG 32UD59-B 32" 4K Monitor</a>, a <a href="https://elitekeyboards.com/products.php?sub=topre_keyboards,rf104&pid=xf01t0">Topre Realforce 104U</a> in all its beige glory, and an OG <a href="https://www.amazon.com/Logitech-Master-Wireless-Mouse-High-precision/dp/B00TZR3WRM">Logitech MX Master</a>.
    </p>

    <p>
      For audio, I have a <a href="https://www.mayflowerelectronics.com/shop/digital-to-analog-converters/objective2-odac-combo-with-rear-power/">O2+ODAC</a> from Mayflower Electronics, which is driving a pair of <a href="https://www.massdrop.com/buy/akg-k7xx-massdrop-first-edition-headphones">AKG K7XX Massdrop-edition</a> headphones. When I want my head to be unencumbered, I use the wonderful <a href="https://audioengineusa.com/shop/poweredspeakers/a2-plus-powered-speakers/">AudioEngine A2+ speakers</a>.
    </p>
  </div>
</article>
