body {
	max-width: 800px;
	font-size: 14px;
	font-family: Verdana, 'DejaVu Sans', sans-serif;
	background-color: white;
	color: black;
}

img {
	max-width: 100%;
	height: auto;
}

figure {
	margin: 2rem 0;
}

mark {
	background-color: papayawhip;
}

pre {
	display: block;
	overflow: auto;
	padding: .5rem;
	max-width: 100%;
	box-sizing: border-box;
	background-color: gainsboro;
}

code {
	background-color: gainsboro;
}

#siteHeader {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 3px solid navy;
}

#siteHeaderBrand {
	display: flex;
	align-items: center;
	gap: .5rem;
	font-size: 1.75rem;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

#siteHeader > nav {
	display: flex;
	gap: .5rem;
}

#siteHeader > nav a {
	padding: .5rem .75rem;
	text-decoration: none;
	background-color: gainsboro;
}

#siteHeader > nav a:hover {
	text-decoration: underline;
}

#siteHeader > nav a.active {
	background-color: navy;
	color: white;
}

#siteFooter {
	border-top: 3px solid navy;
	padding: 1rem;
}

main {
	padding: 1rem 0;
}

#wrapper {
	display: grid;
	grid-template-columns: 1fr minmax(0, 3fr);
	gap: 1rem;
}

#sidebar {
	background: linear-gradient(to left, azure 0, white 100%);
	border-right: 1px solid skyblue;
	padding: .5rem;
	padding-left: 0;
}

#sidebar h2 {
	margin: 1rem 0;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	color: navy;
}

#sidebar svg {
	width: 1rem;
	height: 1rem;
}

#sidebar nav {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

#sidebar nav a {
	display: flex;
	gap: .5rem;
	align-items: center;
	padding: .5rem;
	background-color: gainsboro;
	border: 1px solid grey;
	border-color: darkgrey grey grey darkgrey;
	box-shadow: inset 0 1px 0 white;
	color: inherit;
	text-decoration: none;
	text-shadow: 0 1px 0 whitesmoke;
}

#sidebar nav a:hover {
	background-color: whitesmoke;
}

#sidebar nav a:active {
	transform: translateY(1px);
}

.prose {
	line-height: 1.75em;
}

.articleOldWarning {
	display: flex;
	gap: .5rem;
	align-items: center;
	padding: 1rem;
	margin: 2rem 0;
	background-color: papayawhip;
	line-height: 1.5em;
}

.articleOldWarning svg {
	width: 2.5em;
	height: 2.5em;
}

.code {
	margin: 1rem 0;
}
.code-title {
	padding: .25rem .5rem;
	background-color: darkgrey;
	border-bottom: 1px solid grey;
}

.code pre {
	margin: 0;
}

@media screen and (max-width: 800px) {
	#siteHeader {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
	#wrapper {
		grid-template-columns: 1fr;
	}
	#sidebar {
		order: 99;
		padding-left: .5rem;
		padding-bottom: 2rem;
		background: linear-gradient(to bottom, azure 0, white 100%);
		border: none;
		border-top: 1px solid skyblue;
	}
}
