@import "includes/_constants";

#siteHeader {
  border: none;
}

#siteContent {
  padding-top: 0;
}

.intro {
  margin-bottom: 2rem;
  padding: 2.5em 0;
  font-size: 1.1em;
  line-height: 1.75em;
  color: white;
  background: $colorBackgroundDark;

  .container {
    box-sizing: border-box;
    padding: 0 $paddingContentX;
  }

  p {
    margin: 0;
  }

  .intro-lead {
    margin: 0 0 0.5em;
    font-size: 1.1em;
  }
}

.home-two-up {
  display: flex;

  a {
  }
}

.home-two-up .column {
  box-sizing: border-box;

  h2 {
    margin-top: 0;
  }

  dl {
    margin-top: 0;
  }

  dt,
  dd {
    padding: 0.25em;
    border-bottom: 1px solid $colorBorderLight;
  }

  dt {
    float: left;
    width: 25%;
    color: $colorTextLight;
  }

  dd {
    margin: 0;

    a {
      border: none;
    }
  }
}

.home-articles {
  width: 60%;
  padding-right: 2rem;

  header {
    overflow: hidden;
  }

  h2 {
    float: left;
  }
}

.home-contact {
  width: 40%;
}

.home-articles-rss {
  float: right;
  border: none;

  svg {
    width: 24px;
    height: 24px;
  }

  &:hover svg path {
    fill: #d33d5d;
  }
}

.article-list-pagination {
  overflow: auto;
  padding-top: 1em;
}
.article-list-pagination-next {
  float: right;
}
.article-list-pagination-previous {
  float: left;
}


/*******************************************************************************
 * Media Queries
 ******************************************************************************/

@media screen and (max-width: 880px) {
  .intro {
    font-size: 1em;
    padding: 2em;

    .container {
      padding: 0;
    }
  }

  .home-two-up {
    flex-direction: column;

    .column {
      width: auto;
      padding: 0 0.5em;

      dt,
      dd {
        padding: 0.5em 0;
      }
    }
  }
}
