@import "includes/_constants";

/*******************************************************************************
 * Global Defaults and Resets
 ******************************************************************************/

body {
  margin: 0;
  font-family: $fontFamilyDefault;
  background-color: $colorBackgroundDark;
  color: $colorText;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid $colorHighlight;
}
  a:hover {
    color: $colorHighlightAlt;
    border-color: $colorHighlightAlt;
  }
  a:active {
    background-color: lightyellow;
  }

img {
  max-width: 100%;
  height: auto;
}

hr {
  height: 2px;
  margin: 3em;
  outline: 0;
  border: 0;
  background: $colorBorder;
}

p code {
  padding: 3px 6px;
  font-size: 0.9em;
  background: $colorBackgroundDim;
}

pre {
  margin: 1em 0;
  padding: 1em;
  max-height: 30em;
  overflow: auto;
  background-color: $colorBackgroundDim;
  font-size: 0.85em;
  line-height: 1.6em;
}


/*******************************************************************************
 * Code Blocks
 ******************************************************************************/

.code {
  margin: 1.5em $paddingContentX*-1;
}
  .code pre {
    margin: 0;
    padding: 1em $paddingContentX;
  }

.code-title {
  margin: 1em 0 0 0;
  padding: 0.5em ($paddingContentX - 1rem);
  background: #f4f4f4;
  border-bottom: 1px solid $colorBorder;
  font-family: $fontFamilyMono;
  color: $colorTextLight;
}
  .code-title::before {
    content: "# ";
    color: $colorTextBright;
  }


/*******************************************************************************
 * Structure and Layout Classes
 ******************************************************************************/

.container {
  max-width: 960px;
  margin: auto;
}


/*******************************************************************************
 * Site Sections
 ******************************************************************************/

#siteHeader,
#siteFooter,
#siteContent {
  padding: 2em 0;
}

#siteHeader {
  overflow: hidden;

  h1 {
    margin: 0;
    float: left;
    font-size: 2em;
    line-height: $heightHeader;
  }

  a {
    color: rgba(255,255,255, 0.6);
    border: none;

    &:hover {
      color: #bababa;
    }

    &:active {
      transform: translateY(1px);
      background: inherit;
    }
  }
}

#siteNav {
  float: right;
  height: $heightHeader;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    height: 2.5em;
    padding: 0 2em;
    border-radius: 1em 0;
    line-height: 2.5em;
  }
}

.page-home #siteNav-home a,
.page-setup #siteNav-setup a,
.page-albums #siteNav-photos a,
.page-about #siteNav-about a {
  background-color: rgba(255,255,255, 0.1);
  color: white;
}

#siteFooter {
  color: rgba(255,255,255, 0.5);
  line-height: 1.5em;

  a:not(:hover) {
    border-color: rgba(255,255,255, 0.2);
  }

  a:active {
    background-color: rgba(0,0,0, 0.3);
  }
}


/*******************************************************************************
 * Articles
 ******************************************************************************/

.article {
  background: white;
  box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);

  header {
    padding: 4em 0;
    border-bottom: 1px solid $colorBorder;
    text-align: center;

    h1 {
      margin: 0 0 0.25em 0;
      font-size: 3em;
      letter-spacing: -0.05em;
      color: black;
    }

    .meta {
      color: #888;
    }
  }
}

.article-body {
  padding: 2em $paddingContentX;
  font-size: 1rem;

  p,
  li {
    line-height: 1.6em;
  }

  p {
    margin: 0 0 2em 0;
  }

  h2 {
    margin-top: 2em;
  }

  .spacey li {
    margin: 0 0 1em 0;
  }

  blockquote {
    margin: 1em $paddingContentX*-1;
    padding: 1.5em 4em;
    background: $colorBackgroundDim;
    border: solid $colorBorder;
    border-width: 0 10px;
    font-family: $fontFamilyDefault;
    line-height: 1.65em;
  }

  figure,
  .figure {
    margin: 2em -5em;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }

    img {
      transition: transform ease 0.2s;
      box-shadow: 1px 1px 2px rgba(0,0,0, 0.2);
    }

    a {
      border: none;

      &:hover img {
        transform: translateY(-2px);
      }
    }
  }
}


/*******************************************************************************
 * Media Queries
 ******************************************************************************/

@media screen and (max-width: 700px) {
  .container {
    max-width: 100%;
  }

  #siteHeader {
    text-align: center;

    h1 {
      float: none;
    }
  }

  #siteNav {
    margin: 1em 0 0 0;
    float: none;
    height: auto;

    a {
      margin: 0.5em 0;
      padding: 0 1.25em;
    }
  }

  .article header h1 {
    font-size: 2.5em;
  }

  .article-body {
    padding: 2em 1em;
    font-size: 1.15em;

    figure,
    .figure {
      margin-left: -1em;
      margin-right: -1em;
    }
  }

  #siteFooter {
    padding-left: 1em;
    padding-right: 1em;
  }
}
