$(isThisOld "$publishDate" <<'EOWARN'
<div class="articleOldWarning">
  <p>
    <strong>This article is over two years old.</strong> Life moves quickly,
    and thus there is a good chance any references, recommendations, or
    opinions in this content are out of date. Make sure to verify any
    information independently.
  </p>
</div>
EOWARN
)
<article class="singleArticle">
	<header class="singleArticle--header">
		<h1>$title</h1>
		<div class="singleArticle--header--meta">Published $(formatDate $publishDate) by Alex Blackie $([[ "${lastUpdateDate:-}" != "" ]] && echo "&middot; Updated $(formatDate $lastUpdateDate)")</div>
	</header>

	$(if [ "${coverUrl:-}" != "" ] ; then cat <<-EOCOVERFIGURE

	<figure class="singleArticle--cover">
		<img src="$coverUrl" alt="$coverAlt" width="$coverWidth" height="$coverHeight">
	</figure>

	EOCOVERFIGURE
	fi)

	<div class="singleArticle--body">
		$content
	</div>
</article>
