{{- define "main" -}}

{{ .Content }}

<section id="writing" class="homeWriting">
	<h2>Writing</h2>

	<table class="articleList">
		<tbody>
			{{ range where .Site.RegularPages.ByPublishDate.Reverse "Section" "articles" }}
			<tr>
				<td width="16%">
					<span class="badge">{{ .PublishDate.Format "January 2, 2006" }}</span>
				</td>
				<td width="84%">
					<a href="{{ .RelPermalink }}">
						{{ .Title }}
					</a>
				</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
</section>
{{- end -}}
