{{- define "main" -}}
<div class="homeVSpread">
	<header class="siteHeader">
		<a class="siteHeader--brand" href="/">
			<img src="/images/avi.jpg" alt="Avatar for Alex Blackie" width="64" height="64" class="rounded" />
			Alex Blackie
		</a>
	</header>

	<div class="homeHero">
		<p class="homeHero--greeting">Salut. 👋</p>

		<p>
			I&rsquo;m a <mark>software developer</mark>,
			<mark>entrepreneur</mark>, and
			<mark>digital infrastructure expert</mark>, based out of Montréal,
			Québec. I&rsquo;m a co-founder of
			<a href="https://www.linearforest.com">Linear Forest</a>, a software
			agency, and the founder of <a href="https://www.blackieops.com">BlackieOps</a>, an
			internet infrastructure company.
		</p>
	</div>

	<div class="contactCards">
		<a href="mailto:alex@blackie.me" class="contactCard contactCard--email rounded-small">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				<line x1="22" y1="2" x2="11" y2="13"></line>
				<polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
			</svg>
			<div>
				<div class="contactCard--target">Email</div>
				<div class="contactCard--name">alex@blackie.me</div>
			</div>
		</a>

		<a href="https://github.com/alexblackie" class="contactCard contactCard--github rounded-small">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				<path
					d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
				</path>
			</svg>
			<div>
				<div class="contactCard--target">Github</div>
				<div class="contactCard--name">@alexblackie</div>
			</div>
		</a>

		<a href="https://www.linkedin.com/in/alexblackie" class="contactCard contactCard--in rounded-small">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				<path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
				<rect x="2" y="9" width="4" height="12"></rect>
				<circle cx="4" cy="4" r="2"></circle>
			</svg>

			<div>
				<div class="contactCard--target">LinkedIn</div>
				<div class="contactCard--name">alexblackie</div>
			</div>
		</a>

		<a rel="me" href="https://hachyderm.io/@alexblackie" class="contactCard contactCard--mastodon rounded-small">
			<svg xmlns="http://www.w3.org/2000/svg" width="256" height="274" viewBox="0 0 256 274">
				<g fill="none">
					<path fill="currentColor"
						d="M249.874 164.085c-3.753 19.307-33.613 40.438-67.908 44.533-17.883 2.134-35.49 4.095-54.266 3.234-30.705-1.407-54.933-7.33-54.933-7.33 0 2.99.184 5.836.553 8.498 3.992 30.302 30.047 32.118 54.728 32.964 24.912.852 47.094-6.142 47.094-6.142l1.023 22.521s-17.425 9.357-48.465 11.078c-17.116.94-38.369-.43-63.122-6.983-53.686-14.21-62.92-71.436-64.332-129.502-.43-17.24-.165-33.497-.165-47.094 0-59.375 38.903-76.779 38.903-76.779C58.6 4.074 92.259.286 127.25 0h.86c34.991.286 68.673 4.074 88.287 13.083 0 0 38.901 17.404 38.901 76.78 0 0 .488 43.807-5.425 74.222" />
					<path fill="#FFF"
						d="M209.413 94.469v71.894H180.93V96.582c0-14.71-6.19-22.176-18.57-22.176-13.687 0-20.547 8.857-20.547 26.37v38.195h-28.315v-38.195c0-17.513-6.862-26.37-20.55-26.37-12.379 0-18.568 7.466-18.568 22.176v69.78H45.897V94.47c0-14.694 3.741-26.37 11.256-35.009 7.75-8.638 17.898-13.066 30.496-13.066 14.575 0 25.613 5.602 32.911 16.808l7.095 11.893 7.096-11.893c7.296-11.206 18.334-16.808 32.911-16.808 12.597 0 22.745 4.428 30.496 13.066 7.513 8.639 11.255 20.315 11.255 35.009" />
				</g>
			</svg>

			<div>
				<div class="contactCard--target">hachyderm.io</div>
				<div class="contactCard--name">@alexblackie</div>
			</div>
		</a>
	</div>
</div>

{{ .Content }}

<section id="writing" class="homeWriting">
	<h2>Writing</h2>

	<table class="articleList">
		<tbody>
			{{ range where .Site.RegularPages.ByPublishDate.Reverse "Section" "articles" }}
			<tr>
				<td width="16%">
					<span class="badge">{{ .PublishDate.Format "January 2, 2006" }}</span>
				</td>
				<td width="84%">
					<a href="{{ .RelPermalink }}">
						{{ .Title }}
					</a>
				</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
</section>
{{- end -}}
