<!doctype html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>$title &mdash; Alex Blackie</title>
	<link rel="stylesheet" href="/_/site.css" type="text/css">
	<link rel="alternate" type="application/rss+xml" title="Alex Blackie's Blog" href="/feed.xml">

	$(if [ "${openGraphTitle:-}" != "" ] ; then cat <<-EOOGMETA
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="$openGraphTitle">
	<meta name="twitter:description" content="$openGraphDescription">

	<meta property="og:title" content="$openGraphTitle">
	<meta property="og:type" content="article">
	<meta property="og:url" content="$openGraphPermalink">
	<meta property="og:description" content="$openGraphDescription">
	<meta property="article:published_time" content="$(formatDate $publishDate)">
	EOOGMETA
	fi)

	$(if [ "${openGraphImageUrl:-}" != "" ] ; then cat <<-EOOGMETA
	<meta name="twitter:image" content="$openGraphImageUrl">
	<meta property="og:image" content="$openGraphImageUrl">
	EOOGMETA
	fi)
</head>
<body>
	<header class="siteHeader">
		<h1>
			<a class="siteHeader--brandLink" href="/">
				<img src="/_/avi.jpg" alt="Avatar of Alex Blackie." width="32" height="32">
				<span>Alex Blackie</span>
			</a>
		</h1>

		<!-- one day
		<nav class="siteMenu" role="navigation">
			<a href="/">Articles</a>
		</nav> -->
		<div class="siteMenu">
			<em>The Internet Sensation&trade;</em>
		</div>
	</header>

	<div class="siteContent">
		$content
	</div>

	<footer class="siteFooter">
		&copy; 2013-$(date +%Y) Alex Blackie. Some Rights Reserved.<br>
		This site is <a href="https://github.com/alexblackie/watashi">open source</a> &middot; Powered by make, bash, nginx, and lots of coffee.
	</footer>
</body>
