<article class="article article-single">
  <header>
    <h1><%= page_title %></h1>
    <div class="meta">Posted on <%= date %></div>
  </header>

  <div class="article-body">
    <%= body %>
  </div>
</article>
