<div class="intro">
  <p>

    I&rsquo;m a programmer &amp; sysadmin currently living in Victoria, British
    Columbia, Canada. I work as an API Developer and DevOps Lead for
    <a href="https://www.getflow.com/">Flow</a> and am the founder of
    <a href="https://www.blackieops.com">BlackieOps</a>. I drink a dangerous
    amount of coffee.

  </p>
</div>

<div class="home-two-up">
  <div class="column">
    <h2>Things I've Written</h2>

    <ul class="home-post-list">
      <li>TODO: populate posts</li>
    </ul>
  </div>

  <div class="column">
    <h2>Where I am</h2>

    <dl>
      <dt>Twitter</dt>
      <dd><a href="https://twitter.com/alexblackie">@alexblackie</a></dd>

      <dt>Github</dt>
      <dd><a href="https://github.com/alexblackie">@alexblackie</a></dd>

      <dt>Email</dt>
      <dd><a href="mailto:alex@alexblackie.com">alex@alexblackie.com</a></dd>

      <dt>GPG Key</dt>
      <dd><a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xA231E0F2D35D0D47">0xa231e0f2d35d0d47</a></dd>
    </dl>
  </div>
</div>
