<!doctype html>
<head>
  <meta charset="UTF-8">
  <title><%= page_title %> | Alex Blackie</title>
  <link rel="stylesheet" href="/assets/css/site.css" type="text/css">
</head>
<body>

<h1>layout</h1>

<%= partial %>

</body>
