<!doctype html>
<html lang="en-CA">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>{{ .Page.Meta.Title }} - Alex Blackie</title>
		<link rel="stylesheet" href="/_/site.css" type="text/css">
		<link rel="stylesheet" href="/_/code.css" type="text/css">
		<link rel="stylesheet" href="/_/code-dark.css" type="text/css" media="(prefers-color-scheme: dark)">
		<link rel="alternate" type="application/rss+xml" title="Alex Blackie's Blog" href="/feed.xml">
		<link rel="canonical" href="{{ permalink .Page.Meta.Slug }}">

		{{- if .Page.Meta.OpenGraphTitle -}}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{ .Page.Meta.OpenGraphTitle }}">
		<meta name="twitter:description" content="{{ .Page.Meta.OpenGraphDescription }}">

		<meta property="og:title" content="{{ .Page.Meta.OpenGraphTitle }}">
		<meta property="og:type" content="article">
		<meta property="og:url" content="{{ permalink .Page.Meta.Slug }}">
		<meta property="og:description" content="{{ .Page.Meta.OpenGraphDescription }}">
		<meta property="article:published_time" content="{{ humanDate .Page.Meta.PublishDate }}">
		{{- end -}}

		{{- if .Page.Meta.OpenGraphImageURL -}}
		<meta name="twitter:image" content="{{ permalink .Page.Meta.OpenGraphImageURL }}">
		<meta property="og:image" content="{{ permalink .Page.Meta.OpenGraphImageURL }}">
		{{- end -}}
		{{- if .IsProduction -}}
		<script async defer data-domain="alexblackie.com" src="https://plausible.io/js/plausible.js"></script>
		{{- end }}
	</head>
	<body>
		<header class="siteHeader">
			<div class="container">
				<h1>
					<a href="/">
						<img src="/_/avi.jpg" alt="Avatar of Alex Blackie." width="46" height="46">
						<span>Alex Blackie</span>
					</a>
				</h1>

				<nav>
					<a class="{{ navHighlight .Nav "articles" }}" href="/articles/">Articles</a>
					<a class="{{ navHighlight .Nav "setup" }}" href="/setup/">My Setup</a>
				</nav>
			</div>
		</header>

		<main class="siteContent">
