{% extends "layout.html" %}
{% block title %}Canadian Software Developer{% endblock %}
{% block content %}
<div class="homeHero">
    <div class="container">
        <div class="homeHero--body">
            <p>
                <strong>Greetings.</strong> ✨
            </p>

            <p>
                I am a <mark>software developer</mark> and <mark>infrastructure architect</mark>
                based on Canada's west coast in Vancouver, BC. 🇨🇦
            </p>
            <p>
                I am a cofounder of <a href="https://www.linearforest.com">Linear Forest</a>,
                a software consulting agency and product company. I am also the
                founder of <a href="https://www.blackieops.com">BlackieOps</a>,
                which publishes open-source software and runs some cloud services.
            </p>
        </div>

        <picture>
            <source srcset="/images/portrait.webp" type="image/webp">
            <source srcset="/images/portrait.png" type="image/png">
            <img src="/images/portrait.png" alt="A photo of Alex Blackie." width="236" height="254">
        </picture>
    </div>
</div>

<div class="container">
    <div class="homeColumns">
        <div class="homeColumns--column homeColumns--articles">
            <h2>Latest Weblog Articles <a href="/feed.xml">{{ "rss"|icon|safe }}</a></h2>

            <ol class="articleList">
                {% for meta in articles %}
                <li class="articleListItem">
                    <a href="/articles/{{ meta.slug }}">{{ meta.title }}</a>
                    <div>{{ meta.publish_date|human_date }}</div>
                </li>
                {% endfor %}
            </ol>

            <p>
                <a href="/articles">More Articles &rarr;</a>
            </p>
        </div>

        <div class="homeColumns--column homeColumns--contact">
            <h2>Find Me Online</h2>

            <div class="contactCards">
                <a href="mailto:alex@blackie.me" class="contactCard contactCard--email">
                    {{ "send"|icon|safe }}
                    <div>
                        <div class="contactCard--target">Email</div>
                        <div class="contactCard--name">alex@blackie.me</div>
                    </div>
                </a>

                <a href="https://github.com/alexblackie" class="contactCard contactCard--github">
                    {{ "github"|icon|safe }}
                    <div>
                        <div class="contactCard--target">Github</div>
                        <div class="contactCard--name">@alexblackie</div>
                    </div>
                </a>

                <a href="https://keybase.io/alexblackie" class="contactCard contactCard--keybase">
                    {{ "keybase"|icon|safe }}
                    <div>
                        <div class="contactCard--target">Keybase</div>
                        <div class="contactCard--name">@alexblackie</div>
                    </div>
                </a>

                <a href="https://www.linkedin.com/in/alexblackie" class="contactCard contactCard--in">
                    {{ "linkedin"|icon|safe }}
                    <div>
                        <div class="contactCard--target">LinkedIn</div>
                        <div class="contactCard--name">alexblackie</div>
                    </div>
                </a>

                <a rel="me" href="https://hachyderm.io/@alexblackie" class="contactCard contactCard--mastodon">
                    {{ "mastodon"|icon|safe }}
                    <div>
                        <div class="contactCard--target">Mastodon</div>
                        <div class="contactCard--name">@alexblackie@hachyderm.io</div>
                    </div>
                </a>

                <a href="https://www.worldoftrucks.com/en/profile/151074" class="contactCard contactCard--trucks">
                    {{ "truck"|icon|safe }}
                    <div>
                        <div class="contactCard--target">World of Trucks</div>
                        <div class="contactCard--name">alexblackie</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
:root {
    --home-sidebar-width: 32%;
}

.siteHeader {
    background: transparent;
}

.homeHero {
    margin: calc(var(--height-header) * -1) 0 3rem 0;
    padding-top: var(--height-header);
    font-size: 1.25em;
    background-color: var(--color-bg-header);
    background-image: var(--gradient-header);
    color: var(--color-text-inverse);
}
    .homeHero .container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .homeHero picture {
        flex-shrink: 0;
        width: var(--home-sidebar-width);
        height: auto;
        line-height: 0;
    }
    .homeHero--body {
        padding: 0 1rem 1rem 0;
    }
    .homeHero--body p {
        margin: 1rem 0;
    }
    .homeHero--body a {
        color: var(--color-highlight-alt);
        text-decoration: none;
        border-bottom: 1px solid var(--color-highlight-alt);
    }
    .homeHero--body mark {
        background-color: rgba(255,255,255, 0.1);
    }

    .articleList {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .articleListItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        margin-left: -1rem;
        border-radius: 0.5rem;
    }
    .articleListItem:hover {
        background-color: var(--color-bg-light);
    }

    .articleListItem > div {
        flex-shrink: 0;
        white-space: nowrap;
        font-size: 0.9rem;
    }

    .contactCard {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 1rem;
        color: inherit;
        text-decoration: none;
        font-size: 1.15rem;
        border-radius: 0.5rem;
    }
    .contactCard:hover {
        background-color: var(--color-bg-light);
    }

    .contactCard svg,
    .contactCard .feather {
        margin-right: 1rem;
        width: 1.25rem;
        height: 1.5rem;
        color: var(--color-highlight);
    }

    .contactCard--target {
        font-size: 0.75em;
        font-weight: bold;
        text-transform: uppercase;
        opacity: 0.75;
    }

    .homeColumns {
        display: flex;
        justify-content: space-between;
    }
    .homeColumns h2 { margin-top: 0; }
    .homeColumns--articles { width: 64%; }
    .homeColumns--contact { width: var(--home-sidebar-width); }

    @media screen and (max-width: 640px) {
        .siteHeader {  background-color: var(--color-bg-light) }
        .siteHeader .container { justify-content: space-around }
        .siteContent { padding-top: 0 }

        .homeHero { margin: 0 -1rem 2rem }
        .homeHero .container { flex-direction: column; align-items: center; }
        .homeHero--body { padding: 1rem; }
        .homeHero picture { max-width: 50% }

        .homeColumns { display: block; }
        .homeColumns--column { width: auto; }
        .homeColumns--column h2 { padding-left: .5rem; }
        .homeColumns--contact { margin-top: 2rem; }

        .articleListItem { flex-direction: column; margin-bottom: 1rem; text-align: center; }
    }
</style>
{% endblock %}
