<!doctype html>
<html lang="en-CA">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}{{ title }}{% endblock %} - {{ config.title }}</title>
        <link rel="stylesheet" href="/_/site.css" type="text/css">
        <link rel="stylesheet" href="/_/code.css" type="text/css">
        <link rel="alternate" type="application/rss+xml" title="Alex Blackie's Blog" href="/feed.xml">
        {% block head %}{% endblock %}

        {% if config.profile == "production" -%}
            <script async defer data-domain="alexblackie.com" src="https://plausible.io/js/plausible.js"></script>
        {%- endif %}
    </head>
    <body>
        <header class="siteHeader">
            <div class="container">
                <h1>
                    <a href="/">
                        <img src="/_/avi.jpg" alt="Avatar of Alex Blackie." width="46" height="46">
                        <span>{{ config.title }}</span>
                    </a>
                </h1>

                <nav>
                    <a class="{{ nav|nav_class("articles") }}" href="/articles/">Articles</a>
                    <a class="{{ nav|nav_class("setup") }}" href="/setup/">My Setup</a>
                </nav>
            </div>
        </header>

        <main class="siteContent">
            {% block content %}{% endblock %}
        </main>

        <footer class="siteFooter">
            <div class="container">
                <div>
                    <p>
                        &copy; 2011-2023 Alex Blackie. All Rights Reserved.
                    </p>

                    <dl>
                        <dt>Version</dt>
                        <dd><code>watashi {{ config.version }} ({{ config.head_commit }})</code></dd>

                        <dt>Compiled With</dt>
                        <dd><code>{{ config.toolchain_version }}</code></dd>

                        <dt>Served By</dt>
                        <dd><code>{{ config.infra_hostname }}</code></dd>
                    </dl>
                </div>

                <dl class="siteFooter--links">
                    <dt>Source Code</dt>
                    <dd><code><a href="https://github.com/alexblackie/watashi">alexblackie/watashi</a></code></dd>

                    <dt>Icons</dt>
                    <dd><a href="https://feathericons.com">Feather Icons</a></dd>

                    <dt>Deployed on</dt>
                    <dd><a href="https://kubernetes.io">Kubernetes</a></dd>

                    <dt>Hosted on</dt>
                    <dd><a href="https://azure.microsoft.com">Azure</a></dd>
                </p>
            </div>
        </footer>
    </body>
</html>
