body {
	-webkit-font-smoothing: antialiased;
	margin: 50px auto;
	max-width: 680px;
	font-family: "PT Serif", serif;
	background: #eee; }

aside {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 30px;
	font-family: "PT Sans", sans-serif;
	font-size: 12px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	background: white; }

header {
	padding: 50px 0;
	text-align: center; }
	header h1 {
		margin: 0;
		font-size: 3em; }
	header h2 {
		margin: 5px 0 0 0;
		font-size: 1.2em;
		font-weight: 400;
		color: #666; }

section[role="main"] {
	padding: 25px 50px;
	background: white; }

h1, h2, h3, h4 {
	margin: 2em 0;
	font-family: "PT Sans", sans-serif; }

h3 {
	margin-bottom: 1em;
	font-size: 25px; }

hr {
	margin: 2em 0;
	height: 2px;
	outline: 0;
	border: 0;
	background-color: #ddd; }

p {
	line-height: 1.5em; }

figure {
	margin: 0;
	margin-left: -50px;
	margin-right: -50px; }
	figure img {
		max-width: 100%;
		height: auto !important; }

.gallery {
	overflow: hidden; }
	.gallery img {
		float: left;
		width: 300px;
		margin-left: 20px;
		height: 200px;
		border: 5px solid #eee; }

	.gallery img:nth-child(2n+2) {
		float: right;
		margin-right: 20px; }
