---
title: About
---

<article class="post post-page">
  <header class="post-header">
    <h1>About Me</h1>
  </header>

  <div class="post-content">
    <figure style="float: right">
      <%= image_tag "//gravatar.com/avatar/#{Digest::MD5.hexdigest("alex@alexblackie.com")}?s=128" %>
    </figure>
    <p>
      I write code for money at <a href="http://freerunningtech.com/">FreeRunning
      Technologies</a>. In my spare time, I <a
      href="http://www.blackieops.com">am a sysadmin</a>, fiddle around
      with open-source software, and learn as much as I can about
      encryption and computer networking.
    </p>

    <p>
      I've been writing code since the age of eight when I found and read <a
        href="http://www.amazon.com/HTML-Complete-Sybex/dp/0782124674">HTML
      Complete</a> cover-to-cover a couple times. Since then, I've worked with
      JS, PHP, Python, C, Ruby, Elixir, and much more; I continually dive deeper and deeper into
      traditional UNIX and operating system design; and most recently have taken
      up interest in networking and sysadmin.
    </p>

    <p>
      After nearly 8 years of doing frontend work, three of which I spent at
      <a href="http://metalab.co/">a design agency</a>, I've purposefully made
      my site ugly to show that I've truly given up.
    </p>

    <p>
      I also tend to swear a lot.
    </p>
  </div>
</article>
