---
title: Me.
---


%section.page-about-me
  .container
    %header.page-header
      %h1.page-title About Me.

    .page-about-hero
      %figure.page-about-hero-image= image_tag 'me.jpg', width: 180
      .page-about-hero-text
        :markdown
          Developer at [Metalab][ml] by day, grade 12 student also by day&hellip;
          Sometimes I play drums, and sometimes I manage servers. Generally, I can
          be found behind glowing liquid crystals most hours of the day.

          [ml]: http://metalabdesign.com/

    .page-about-content
      :markdown
        At the ripe old age of nine, I discovered a book gathering dust in my
        parents&rsquo; closet: &ldquo;[HTML Complete][htmlcomplete]&rdquo;. It
        was this 1028-page book that started what would dictate the next
        several years of my life. It started with my super-secret spy company
        intranet, now to amazing projects at [Metalab][mlwork]. I have been
        writing code around eight years now.

        [htmlcomplete]: http://www.amazon.com/HTML-Complete-Sybex/dp/0782124674
        [mlwork]:       http://metalabdesign.com/work/

%section.page-about-tech
  .container
    %header.page-header
      %h1.page-title About This.

      %figure.page-about-tech-image= image_tag 'vim.png'

      .page-about-tech-text
        :markdown
          This is my blog. It is powered by [Middleman][mm], [Susy][susy], and
          [the Rackspace Cloud][rsc]. The deployment is done automatically
          every time I push to `master` (all thanks to [Jenkins][jci]). Static
          HTML gives me the speed and ease-of-hosting that I desire, with the
          flexibility to do pretty much anything (and in any markup language I
          want).

          The server is one of the [Performance Cloud Servers][rsperf]
          Rackspace launched not too long ago. It has 1 vCPU, 1GB RAM, 20GB of
          RAID-10 SSD storage, and a 200mbps connection. It's running the
          latest (non-LTS) release of Ubuntu, NGINX, and PHP-FPM (for some old
          sites that still use PHP).

          Everything is available to everyone. Feel free to poke around [the
          Jenkins job][thebuild], or checkout the [Github repo][gh].

          [mm]:       http://middlemanapp.com/
          [susy]:     http://susy.oddbird.net/
          [rsc]:      http://rackspace.com/cloud/servers/
          [mmsync]:   https://github.com/karlfreeman/middleman-sync
          [jci]:      http://jenkins-ci.org/
          [rsperf]:   http://www.rackspace.com/blog/got-the-need-for-speed-meet-performance-cloud-servers/
          [thebuild]: http://ci.alexblackie.com/job/alexblackie/
          [gh]:       https://github.com/alexblackie/self
