---
title: The Internet Sensation&trade;
layout: layout
---

<header id="site-header-home"><div class="container">
  <div class="titles">
    <h1><%= link_to "Alex Blackie", "/" %></h1>
    <h2>The Internet Sensation&trade;</h2>
  </div>

  <div class="intro">
    <p>
      I'm just some punk-ass teenager in Canada who writes code for
      <a href="http://stembolt.com/">Stembolt</a> and runs servers for
      <a href="https://www.blackieops.com">BlackieOps</a>. I drink a
      dangerous amount of coffee.
    </p>
  </div>
</div></header>

<div class="container">
  <article class="post post-page">
    <div class="post-header">
      <h1>My Weblog</h1>
    </div>

    <div class="post-content">
      <% page_articles.each do |article| %>
        <article class="post post-member">
          <span>(<%= article.date.strftime("%Y-%m-%d") %>)</span>
          <h1><%= link_to article.title, article %></h1>
        </article>
      <% end %>
    </div>
  </article>
</div>
