---
title: Episode Archive for tag
---

%header.page-header
  %h1.page-header-title Articles tagged #{ tagname }

- page_articles.each do |article|
  %article( class='article-in-list' )
    .article-publish-date= article.published_at.strftime("%B %d, %Y")
    %h1.article-title= link_to article.title, article
